* {
    box-sizing: border-box;
    color: #4c4c4c;
    font-family: 'News Cycle', sans-serif;
}

.hidden {
    display: none;
}

.header {
    display: inline;
    font-family: 'Poiret One', cursive;
}

#header-container {
    width: 100%;
    margin-bottom: 15px;
}

h1 {
    font-size: 40px;
    margin: 40px;
}

#intro-text {
    font-size: 14;
}

h2 {
    font-size: 34px;
}

h3 {
    font-size: 50px;
}

#header-logo,
#header-menu {
    height: 60px;
}

#header-menu {
    float: right;
}

main {
    text-align: center;
}

label, input {
    display: block;
    margin: 5px;
    font-size: 20px;
}

textarea, 
label {
    font-size: 20px;
}

form {
    margin: auto;
    width: 40%;
    text-align: left;
}

button,
.form-button {
    display: inline-block;
    margin: 10px;
    background-color: #4c4c4c;
    border-radius: 2px;
    color: white;
    font-size: 15px;
    border: none;
    padding-left: 20px;
    padding-right: 20px;
}

.wtr-freq {
    display: inline-block;
    width: 70px;
    margin: 5px;
}

textarea,
input {
    width: 100%;
}

.form-buttons {
    text-align: center;
}

#plant-info {
    text-align: left;
    display: block;
    width: 40%;
    margin: auto;
    min-height: 225px;
}

#add-plant-container {
    width: 70%;
    height: 100%;
    margin: auto;
    text-align: right;
}

#add-plant-button {
    border: none;
    background: none;
    position: fixed;
    bottom: 0;
    right: 0;
}

ul {
    text-align: left;
    margin: auto;
    padding: 0;
    width: 70%;
}

li.wateringDate {
    display: block;
    width: 200px;
    margin: 0px;
    font-size: 20px;
}

.all-plants-li {
    list-style-type: none;
    display: inline-block;
    text-align: center;
    padding: 10px;
    max-width: 150px;
}

span {
    font-size: 14px;
}

.all-plants-icon {
    height: 60px;
    display: block;
    text-align: left;
}

#add-plant-icon {
    height: 70px;
}

.welcome {
    margin-top: 60px;
}

#individual-plant-icon {
    height: 90px;
}

#individual-plant-header {
    margin: 0px;
}

h4 {
    margin: 0px;
}

h5 {
    margin: 0px;
    font-size: 30px;
    font-weight: normal;
}

#watering-can {
    height: 90px;
}

#input-water-date {
    width: 50%;
    margin: auto;
    margin-bottom: 30px;

}

.plantButton {
    width: 150px;
    background-color: transparent;
    color: #4c4c4c;
    padding: 0px;
    font-size: 20px;
}

.plantButtonIcon {
    width: 90px;
    display: inline-block;
}

form.individualPlantForm {
    margin-right: 0px;
    margin-left: 0px;
}

p.plantButtonNickname {
    margin: 5px;
}

p.plantButtonType {
    font-size: 14px;
    margin: 5px;
}

.individual-plant-info {
    display: inline-block;
    font-size: 20px;
    margin: 5px;
}

#login-form {
    width: 30%;
}

.select-plant-icon {
    height: 80px; 
}

#plant-icon-container {
    width: 100%;
    margin-right: 0px;
    margin-left: 0px;
}

#plant-icon-container label,
#edit-plant-icon-container label {
    display: inline-block;
}

#new-plant-form,
#edit-plant-form {
    width: 50%;
}

button {
    border-radius: 3px;
}

input {
    /*border: 2px gray;*/
}

.water-history ul {
    width: 90%;
}

#select-icon-label {
    display: block;
    margin-bottom: 8px;
}

#no-date-alert {
    padding-left: 10px;
}


@media only screen and (max-width: 480px) {
    #login-form {
        width: 50%;
    }

    #display-all-plants {
        width: 90%;
    }

    #plant-info {
        width: 80%;
    }

    #input-water-date {
        width: 250px;
    }

    .form-buttons {
        width: 100%;
        margin: auto;
        text-align: center;
    }

    #new-plant-water-form,
    #edit-plant-form {
        width: 80%;
    }

    input {
        border: 1px gray;
    }

    li {
        padding: 0px;
        max-width: 150px;
    }

    ul {
        text-align: center;
    }

    #add-plant-button {
        padding-right: 0px;
    }

    .plantButton {
        width: 125px;
    }

    .select-plant-icon {
        height: 60px;
    }
}



